html,body{
	margin:0;
}
[data-role="page"]{
	position:absolute;
	width:100%;
	/* height:100%; */
	overflow:auto;
}
[role="navigation"] + div{
	margin-top:55px;
}

.header{
	position: fixed; width: 100%;height:45px; top: 0; left: 0; z-index: 100;
}

.headerclose{
	float: left; width: 15%; overflow: hidden; text-align: center; line-height: 45px;
}

.headerclose > a{
	color:white;
}

.headercontent{
	position: absolute; width: 100%; top: 0; left: 0; background-color: #4390ee; 
}
/*除header,footer以外的页面主体 */
.pagecontent{
}
.location {
    position: fixed;
    right: 15px;
    bottom: 15px;
    /* width: 45px; */
    padding: 15px;
    background-color:black;
    opacity:0.5;
    line-height:15px;
    border-radius:10px;
    text-align:center;
}
.location i{
	color:white;
}
.pullDownFresh{
	width:100%;height:0;background-color:#3388cc;position:relative;top:0;left:0;
}

.pullDownFreshText{
   color:white;text-align:center;line-height:50px;height:50px;width:100%;position:absolute;bottom:0;left:0;display:none;
}
.pullUpFresh{
    width:100%;height:0;background-color:#3388cc;position:relative;bottom:0;left:0;
}
.pullUpFreshText{
   color: white; text-align: center; line-height: 50px; height: 50px; width: 100%; position: absolute; top: 0; left: 0;display:none;
}
/* 列表中无数据时的提示 */
.pullNoData{
	width:100%;height:50px;line-height:50px;text-align:center;color:white;background-color:yellowgreen;display:none;
}
/* 提示信息对话框 */
.tipMsgDialog{
	left:0;right:0;margin-left:auto;margin-right:auto;width:70%;position:fixed;bottom:30%;text-align:center;border-width:1px;border-style:solid;border-radius:5px;background-color:#ff8604;color:white;
}

#confirmMsgDialog {
	visibility: hidden;
	position: fixed; /* 使用绝对定位或固定定位  */
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background-color: #333;
	opacity: 0.9; /* 背景半透明 */
}
/* 模态框样式 */
.modal-data {
	left:0;right:0;margin-left:auto;margin-right:auto;width:70%;position:fixed;bottom:30%;text-align:center;border-width:1px;border-style:solid;border-radius:5px;background-color:white;
}

/* 提交按钮样式 */
.submmitBtn{
	background-color:#49a430!important;color:white!important;text-shadow:none!important;border-radius:5px!important;
}

/* 信息分段 */
.section-divider {
	border-left: 5px solid #ff8604;
	border-bottom: 1px solid #ff8604;
	font-weight: bold
}