<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PinBa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/classes/Application-Context.xml</param-value>
  </context-param>
  <servlet>
		<servlet-name>verifyImage</servlet-name>
		<servlet-class>com.webapp.common.servlet.VerifyImageServlet</servlet-class>
		<init-param>
			<param-name>image-class</param-name>
			<param-value>com.ailk.base.util.VerifyImage</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>verifyImage</servlet-name>
		<url-pattern>/verifyImage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>image</servlet-name>
		<servlet-class>com.webapp.common.servlet.ImageServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>image</servlet-name>
		<url-pattern>/image</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>commonAction</servlet-name>
		<servlet-class>com.webapp.common.servlet.CommonServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>commonAction</servlet-name>
		<url-pattern>/commonAction</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>userAction</servlet-name>
        <servlet-class>com.webapp.user.servlet.UserManagerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>userAction</servlet-name>
        <url-pattern>/userAction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>resumeAction</servlet-name>
        <servlet-class>com.webapp.user.servlet.ResumeManagerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>resumeAction</servlet-name>
        <url-pattern>/resumeAction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>workAction</servlet-name>
        <servlet-class>com.webapp.work.servlet.WorkManagerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>workAction</servlet-name>
        <url-pattern>/workAction</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>pageServlet</servlet-name>
        <servlet-class>com.webapp.common.servlet.PageServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    
   <!--  <servlet-mapping>
        <servlet-name>pageServlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping> -->
    <listener>
        <listener-class>com.webapp.common.servlet.CharSpecValueJSGenerator</listener-class>
    </listener>
</web-app>